:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-salmon: #ee9972;
  --secondary-peach: #fbdabb;
  --secondary-grey: #edefee;
  --secondary-black: #333333;
}

.font-karla {
  font-family: "Karla", sans-serif;
}

.font-markazi {
  font-family: "Markazi Text", serif;
}

.bg-pri-green {
  background-color: var(--primary-green);
}

.bg-pri-yellow {
  background-color: var(--primary-yellow);
}

.bg-pri-yellow:hover {
  background-color: var(--secondary-salmon);
}

.bg-sec-grey {
  background-color: var(--secondary-grey);
}

.text-pri-green {
  color: var(--primary-green);
}

.text-pri-yellow {
  color: var(--primary-yellow);
}

.text-sec-salmon {
  color: var(--secondary-salmon);
}

.text-sec-peach {
  color: var(--secondary-peach);
}

.text-sec-grey {
  color: var(--secondary-grey);
}

.text-sec-black {
  color: var(--secondary-black);
}

.top-20 {
  top: 20%;
}

.vh-50 {
  min-height: 50vh;
  height: 25rem;
}

.vh-75 {
  height: 75vh;
}

.fs-title {
  font-size: 4.5rem;
}

@media screen and (max-width: 991px) {
  .fs-md-title {
    font-size: 4rem;
  }
}

.fs-highlight {
  font-size: 3rem;
}

.picture-1 {
  top: 0;
  left: 35%;
}

.picture-2 {
  top: 10rem;
  left: 0;
}
